<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>데이터 분석 시스템</title>

    <!-- 공통 css, js, meta tag -->
    <!-- <th:block th:replace="fragments/commonHead"></th:block> -->

</head>

<body class="nav-md">
    <h1>기본 레이아웃</h1>
    <th:block layout:fragment="content"></th:block>
</body>

</html>